[Unit]
Description=MPPT to MQTT Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/rob-1/RBPi-AP_Terra-main/scripts/solar_readout/read_mppt.py
Restart=always
RestartSec=10
User=uganda2
WorkingDirectory=/home/rob-1/RBPi-AP_Terra-main/scripts/solar_readout/
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target

